<p>
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10" fill="#00ADD8"/>
        <circle cx="9" cy="9" r="2" fill="#FFFFFF"/>
        <circle cx="15" cy="9" r="2" fill="#FFFFFF"/>
        <circle cx="9.5" cy="9.5" r="1" fill="#000000"/>
        <circle cx="14.5" cy="9.5" r="1" fill="#000000"/>
        <path d="M10 15 C 11,17 13,17 14,15" stroke="#FFFFFF" stroke-width="2" fill="none"/>
        <path d="M9 15 L8 17 L10 17" fill="#FFFFFF"/>
        <path d="M15 15 L16 17 L14 17" fill="#FFFFFF"/>
      </svg>
      <br>
      <p>GOFRA</p>
</p>