<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
{{template "head.html" .}}
</head>

<body>
    {{template "header.html" .}}
    <div class="content">
        <a class="button" href="/">New Search</a><br /><br />
        <table>
            <thead>
                <tr>
                    <th>Sub Model</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value := . }}
                <tr>
                    <td>
                        <a class="link" href="/model/{{ urlEscape (index $value "basemodel") }}/{{ urlEscape (index $value "make") }}">{{ index $value "basemodel" }}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    {{template "footer.html" .}}
</body>
</html>