<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
{{template "head.html" .}}
</head>

<body>
    {{template "header.html" .}}
    <div class="content">
        <a class="button" href="/">New Search</a><br /><br />
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Base Model</th>
                    <th>Fuel type</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value := . }}
                <tr>
                    <td>{{ index $value "make" }}</td>
                    <td>{{ index $value "model" }}</td>
                    <td>{{ index $value "basemodel" }}</td>
                    <td>{{ index $value "fuel_type" }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>

    </div>
    {{template "footer.html" .}}
</body>

</html>