<!DOCTYPE html>
<html>
    <head>
    {{template "head.html" .}}
    </head>
<body>
    {{template "header.html" .}}
     <table>
            <thead>
            <tr>
                <th>Error</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="error">
                    {{.lastError}}
                </td>
            </tr>
            <tr>
                <td>
                    Login here: <a href="/login">Login</a>
                </td>
            </tr>
        </tbody>
        </table>
    </form>
    {{template "footer.html" .}}
</body>
</html>
