<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Golang Web Framework</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>

<body>
    <form method="POST" action="/dologin">
        <div class="login-form">
            <div class="text">
                LOGIN
            </div>
            <form>
                <div class="field">
                    <div class="fas fa-envelope"></div>
                    <input type="email" name="email" value="{{.email}}" placeholder="Email">
                </div>
                <div class="field">
                    <div class="fas fa-lock"></div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                
                {{if .lastError}}
                <div class="error field">
                    {{.lastError}}
                </div>
                {{end}}

                <button>LOGIN</button>
                <div class="link">
                    Not a member?
                    <a href="/register">Signup now</a>
                </div>
            </form>
        </div>
    </form>
</body>

</html>