<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {{template "head.html" .}}
</head>

<body>
    {{template "header.html" .}}
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value := . }}
                <tr>
                    <td>
                        <a class="link" href="/basemodel/{{ urlEscape (index $value "make") }}">{{ index $value "make" }}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
    {{template "footer.html" .}}
</body>
</html>