<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Glowing Inputs Login Form UI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <div class="header">
        <label>Make</label>
        <a class="button" href="/logout">Logout</a>
    </div>
    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Make</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value := . }}
                <tr>
                    <td>
                        <a class="link" href="/basemodel?make={{ index $value "make" }}">{{ index $value "make" }}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
</html>