<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {{template "head.html" .}}
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>

<body>
    <form method="POST" action="/change_password">
        <div class="login-form">
            <div class="text">
                PASSWORD
            </div>
            <p>Change password</p>
            <form>
                <input type="hidden" name="uuid" value="{{.uuid}}">
                <div class="field">
                    <div class="fas fa-lock"></div>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                    <div class="fas fa-lock"></div>
                    <input type="password" name="repeat-password" placeholder="Repeat password">
                </div>

                {{if .lastError}}
                <div class="error field">
                    {{.lastError}}
                </div>
                {{end}}

                </div>
                
                <button>Change password</button>
                
                <div class="link">
                    Already a member?
                    <a href="/login">Login now</a>
                </div>
            </form>
        </div>
    </form>
</body>
</html>
