<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {{template "head.html" .}}
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>

<body>
    <form method="POST" action="/password-reminder">
        <div class="login-form">
            <div class="text">PASSWORD</div>
            <p>Send password reminder</p>
            <form>
                <div class="field">
                    <div class="fas fa-envelope"></div>
                    <input type="email" name="email" value="" placeholder="Email">
                </div>
                
                {{if .lastError}}
                <div class="error field">
                    {{.lastError}}
                </div>
                {{end}}

                <button>Send email</button>
                <div class="link">
                    Not a member?
                    <a href="/register">Signup now</a>
                </div>
            </form>
        </div>
    </form>
</body>
</html>