<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {{template "head.html" .}}
    <style>
        body {
            height: 100vh;
        }
    </style>
</head>

<body>
    <form method="POST" action="/doregister">
        <div class="login-form">
            <div class="text">
                Sign Up
            </div>
            <form>
                <div class="field">
                    <div class="fas fa-user"></div>
                    <input type="text" name="name" value="{{.data.regUserName}}" placeholder="Your Name">
                </div>

                {{if renderError "name" .lastValidationError}}
                <div class="error field">
                    {{ renderError "name" .lastValidationError }}
                </div>
                {{end}}

                <div class="field">
                    <div class="fas fa-envelope"></div>
                    <input type="email" name="email" value="{{.data.regUserEmail}}" placeholder="Email">
                </div>

                {{if renderError "email" .lastValidationError}}
                <div class="error field">
                    {{ renderError "email" .lastValidationError }}
                </div>
                {{end}}

                <div class="field">
                    <div class="fas fa-lock"></div>
                    <input type="password" name="password" placeholder="Password">
                </div>


                {{if renderError "password" .lastValidationError}}
                <div class="error field">
                    {{ renderError "password" .lastValidationError }}
                </div>
                {{end}}

                <div class="field">
                    <div class="fas fa-lock"></div>
                    <input type="password" name="repeat-password" placeholder="Repeat password">
                </div>

                {{if .lastError}}
                <div class="error field">
                    {{.lastError}}
                </div>
                {{end}}

                </div>
                
                <button>SIGN UP</button>

                {{if .lastValidationError}}
                <div class="error field">
                    {{ renderErrors .lastValidationError }}
                </div>
                {{end}}
                
                <div class="link">
                    Already a member?
                    <a href="/login">Login now</a>
                </div>
            </form>
        </div>
    </form>
</body>
</html>
