<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    {{template "head.html" .}}
</head>

<body>
    {{template "header.html" .}}
    <div class="content">
        <a class="button" href="/">New Search</a><br /><br />
        <table>
            {{ range $index, $value := . }}
            <tr>
                <td>

                    <table>
                        <div class="highlight">
                            {{ index $value "Make" }}
                            {{ index $value "Basemodel" }}
                            {{ index $value "Model" }},
                            {{ index $value "Fuel type" }}
                            {{ index $value "Year" }}
                        <div class="highlight">

                        {{ range $fieldName, $fieldValue := $value }}
                        <tr>
                            <td>{{ $fieldName }}:</td>
                            <td>{{ $fieldValue }}</td>
                        </tr>
                        {{ end }}

                    </table>
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
    {{template "footer.html" .}}
</body>

</html>