<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Golang Web Framework</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <div class="header">
        <label>Model</label>
        <a class="button" href="/logout">Logout</a>
    </div>
    <div class="content">
        <a class="button" href="/">New Search</a><br /><br />
        <table>
            <thead>
                <tr>
                    <th>Model</th>
                </tr>
            </thead>
            <tbody>
                {{ range $value := . }}
                <tr>
                    <td>
                        <a class="link" href="/vehicles/{{ urlEscape (index $value "basemodel") }}/{{ urlEscape (index $value "make") }}/{{ urlEscape (index $value "model") }}/{{ urlEscape (index $value "fuel_type") }}/{{ index $value "year" }}">{{ index $value "year" }}</a>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
</html>